### Symfony ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/build/
domain_model_summary.php

### PHPUnit ###
/.phpunit.result.cache
/phpunit.xml
/.phpunit.cache/

### IDE ###
.idea/
.vscode/

### Docker ###
docker-compose.override.yml

### PHP-CS-Fixer ###
/.php-cs-fixer.cache
/.php-cs-fixer.php~
/.php-cs-fixer.php.bak

### PHPStan ###
/.phpstan/
/phpstan-result-cache/

### Rector ###
/rector-cache/

### Deptrac ###
/.deptrac/
/.deptrac.cache

### OS / misc ###
.DS_Store
Thumbs.db
